body {
  background-color: #ecf0f1;
}
h1 {
  text-align: center;
}

p {
  color: black;
  text-align: left;
}
h3 {
  text-align: center;
}

.flat-under {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.circle-button {
  font-family: "Roboto", sans-serif;
  color: #ccc;
  display: inline-block;
  font-size: 2rem;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.circle-button:hover {
  animation: circle-anim 0.3s ease forwards;
  transition: all 0.4s ease;
}

.grow-container {
  display: inline-block;
  margin: 1em;
}


.to-react:hover {
  background: rgb(51,255,255);
}

.to-figma:hover {
  background: rgb(255, 0, 153);
}

.to-firebase:hover {
  background: rgb(255, 204, 51);
}

.to-github:hover {
  background: gray;
}

@keyframes circle-anim {
  0% {
  }

  90% {
    padding: 0.35em;
    margin: -0.35em;
  }

  100% {
    padding: 0.25em;
    margin: -0.25em;
  }
}
h2 {
  text-align: center;
}
.githubRepo {
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-repo {
  min-width: 300px;
  min-height: 60px;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  
  display: flex;
  justify-content: center;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4fd1c5;
  background: linear-gradient(
    90deg,
    rgba(129, 230, 217, 1) 0%,
    rgba(79, 209, 197, 1) 100%
  );
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

.btn-repo::before {
  content: "";
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00ffcb;
  box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.btn-repo:hover,
.btn-repo:focus {
  color: #313133;
  transform: translateY(-6px);
}

.btn-repo:hover::before,
.btn-repo:focus::before {
  opacity: 1;
}

.btn-repo::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #00ffcb;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.btn-repo:hover::after,
.btn-repo:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}



.links_git {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
}

.gits {
  margin: 20px;
  align-items: center;
}

.gits a{
  color: #c39b6b;
  transition-duration: 350ms;
}

.gits:hover,
.techs:hover {
  transform: scale(1.1, 1.1);
}
.gits a:hover,
.techs a:hover {
  color: #00ffcb;
}
.credit {
  display: inline-block;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}
