@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  /* background-color: #2a3428; */
  font-family: "Jost", sans-serif;
}

.App {
  max-width: 728px;
  margin: 0 auto;
}

.App header {
  background-color: rgb(191, 229, 217);
  color: white;
}

.sign-out {
  color:#1e1e24;
  background-color: #ffffff;
  border: none;
  color: #e5e5ea;
  padding: 15px 32px;
  text-decoration: none;
  cursor:-webkit-grab;
  font-size: 1.25rem;
}

.App section {
  /* background */
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
}

main {
  padding: 10px;
  height: 80vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #6649b8;
}

/* form {
  height: 10vh;
  position: fixed;
  bottom: 0;
  background-color: rgb(202, 230, 221);
  width: 100%;
  max-width: 728px;
  display: flex;
  font-size: 1.5rem;
} */

.submit{ /* send message button */
  /* width: 20%; */
  background-color: rgb(255, 255, 255);
  border: none;
  color: #e5e5ea;
  /* padding: 15px 32px; */
  text-decoration: none;
  cursor:grab;
  font-size: 1.25rem;
}

button:disabled {
  opacity: 0.;
  cursor: not-allowed;
}

input { /* send message field */
  display: block;
  font-family: "Jost", sans-serif;
  font-weight: 300;
  color: #000;
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  background: #fff;
  border: none;
  outline: none;
  padding: 0 10px;
}

input::first-letter {
  text-transform: capitalize;
}

p {  /* messages */
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: #000;
  background: rgb(191, 229, 217);
  align-self: flex-end;
}
.received p {
  background: #e5e5ea;
  color: black;
}

img {
  /* profile pictures */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

/* ul, li {
  text-align: left;
  list-style: none;
} */
